/* Polices Space Mono */
@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
/* Poppins Black */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Poppins Black Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Poppins Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Poppins Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Poppins Extrabold */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Poppins Extrabold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Poppins Medium Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Poppins Light */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Poppins Light Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Poppins Extralight */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Poppins Extralight Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Poppins Thin */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Poppins Thin Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Poppins Semibold */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Poppins Semibold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Poppins Regular Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


  * {
    margin: 0;
    padding: 0;
  }

  html {
    margin-top: 0 !important;
}

  
  body {
    font-family: 'Space Mono', sans-serif;
  }
  
  
  