/* Styles pour le footer */
.main-footer {
    width: 100%;
    color: #fff; // Couleur du texte
    padding: 10px 0; // Espacement autour du contenu du footer
    border-top: 1px solid black;
    
    .footer-container {
      max-width: 1440px; // Largeur maximale du footer
      margin: 0 auto; // Centre horizontalement
      padding: 0; // Espacement interne si nécessaire
      display: flex;
      flex-direction: row;
      justify-content: center; // Centre horizontalement
      align-items: center; // Centre verticalement si le footer a plus de contenu
    }
  
    .footer-menu {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      gap: 100px;
  
      li {
        margin: 0; // Espacement entre les éléments du menu
      }
  
      a {
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        transition: color 0.3s ease;
  
        &:hover {
          font-weight: 900;
        }
      }
    }
  }
  

  @media (max-width: 768px) {
    .main-footer .footer-menu{
        display: flex;
        flex-direction: column !important;
        justify-content: center; // Centre horizontalement
        align-items: center; // Centre verticalement si le footer a plus de contenu
        margin-top: 32px;
        gap: 30px;
    }
  }