/* Conteneur du header */

.container {
    display: flex;
    justify-content: space-between; /* Aligne les éléments à gauche et à droite */
    align-items: center; /* Centre les éléments verticalement */
    width: 100%; /* Conteneur prend toute la largeur de l'écran */
    max-width: 1440px; /* Largeur maximale pour les grands écrans */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    height: 80px; /* Hauteur du conteneur */
}


.logo {
    margin-left: 0;
}

/* Menu principal */
.main-menu {
    list-style: none;
    display: flex;
    justify-content: center;

}


.main-menu a {
    text-decoration: none;
    color: #333;
    margin-left: 40px;
    transition: color 0.3s ease;
}

/* Lien actif avec aria-current */
.main-menu a[aria-current="page"] {
    color: #0073e6; /* Couleur pour la page active */
    font-weight: bold;
}

/* Effet au survol */
.main-menu a:hover {
    color: #0056b3;
}

/* Conteneur pour l'image d'en-tête */
.header-image {
    width: 100%; /* Prend toute la largeur */
    height: 85vh; /* Hauteur du bandeau (50% de la hauteur de la fenêtre) */
    overflow: hidden;
    position: relative; /* Permet des ajustements supplémentaires */
  }
  
  /* Image à l'intérieur du conteneur */
  .header-image img {
    width: 100%; /* S'adapte à la largeur du conteneur */
    height: 100%; /* Remplit le conteneur en hauteur */
    object-fit: cover; /* Coupe ou étire l'image pour remplir le conteneur sans déformer */
    position: absolute;
    top: 0;
    left: 0;
  }
  


/* Menu mobile - pour adapter si nécessaire */
@media (max-width: 768px) {
    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    .main-menu li {
        margin: 10px 0;
    }

    /* Ajoutez un bouton de menu mobile si nécessaire */
}