@charset "UTF-8";
/* Polices Space Mono */
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
}

html {
  margin-top: 0 !important;
}

body {
  font-family: "Space Mono", sans-serif;
}

/* Bureau */
h1 {
  font-size: 96px;
  font-weight: 800; /* Extra-bold */
}

h2 {
  font-size: 58px;
  font-weight: 500; /* Semi-bold */
  font-style: italic;
  line-height: 58px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.description-photo {
  font-size: 14px;
}

p {
  font-size: 14px;
}

/* Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 27.6px;
    font-weight: bold;
  }
  h2 {
    font-size: 46px;
    font-weight: 600;
  }
  h3 {
    font-size: 18px;
  }
  .description-photo {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}
/* Conteneur du header */
.container {
  display: flex;
  justify-content: space-between; /* Aligne les éléments à gauche et à droite */
  align-items: center; /* Centre les éléments verticalement */
  width: 100%; /* Conteneur prend toute la largeur de l'écran */
  max-width: 1440px; /* Largeur maximale pour les grands écrans */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  height: 80px; /* Hauteur du conteneur */
}

.logo {
  margin-left: 0;
}

/* Menu principal */
.main-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-menu a {
  text-decoration: none;
  color: #333;
  margin-left: 40px;
  transition: color 0.3s ease;
}

/* Lien actif avec aria-current */
.main-menu a[aria-current=page] {
  color: #0073e6; /* Couleur pour la page active */
  font-weight: bold;
}

/* Effet au survol */
.main-menu a:hover {
  color: #0056b3;
}

/* Conteneur pour l'image d'en-tête */
.header-image {
  width: 100%; /* Prend toute la largeur */
  height: 85vh; /* Hauteur du bandeau (50% de la hauteur de la fenêtre) */
  overflow: hidden;
  position: relative; /* Permet des ajustements supplémentaires */
}

/* Image à l'intérieur du conteneur */
.header-image img {
  width: 100%; /* S'adapte à la largeur du conteneur */
  height: 100%; /* Remplit le conteneur en hauteur */
  -o-object-fit: cover;
     object-fit: cover; /* Coupe ou étire l'image pour remplir le conteneur sans déformer */
  position: absolute;
  top: 0;
  left: 0;
}

/* Menu mobile - pour adapter si nécessaire */
@media (max-width: 768px) {
  .main-menu {
    flex-direction: column;
    align-items: center;
  }
  .main-menu li {
    margin: 10px 0;
  }
  /* Ajoutez un bouton de menu mobile si nécessaire */
}
/* Centrer le footer */
.main-footer {
  width: 100%;
  color: #fff; /* Couleur du texte */
  padding: 10px 0; /* Espacement autour du contenu du footer */
  border-top: 1px solid black;
}

.footer-container {
  max-width: 1440px; /* Largeur maximale du footer */
  margin: 0 auto; /* Centre horizontalement */
  padding: 0px; /* Espacement interne si nécessaire */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement si le footer a plus de contenu */
}

.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 100px;
}

.footer-menu li {
  margin: 0px; /* Espacement entre les éléments du menu */
}

.footer-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #0073e6; /* Change la couleur au survol */
}

/* Masquer la modale par défaut */
.modal-overlay {
  display: none; /* Initialement cachée */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Ombre de fond */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Placer la modale au-dessus de tout autre contenu */
  opacity: 0; /* Commence invisible */
  transition: opacity 0.3s ease; /* Transition pour l'animation d'apparition */
}

/* Quand la classe 'open' est ajoutée, la modale devient visible */
.modal-overlay.open {
  display: flex; /* Utiliser flexbox pour centrer le contenu */
  opacity: 1; /* La modale devient visible */
}

/* Contenu de la modale */
.modal-content {
  background: white;
  max-width: 600px;
  width: 100%;
  position: relative;
}

/* Bouton de fermeture */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.modal-title {
  background-image: url("/wp-content/themes/nathaliemota/assets/images/contact-header.png");
  background-size: cover; /* ajuste l'image à la taille de l'élément */
  background-position: center; /* centre l'image */
  height: 100px; /* ajustez la hauteur selon vos besoins */
  width: 100%; /* ajustez la largeur selon vos besoins */
  color: transparent; /* rend le texte transparent si vous ne voulez plus qu'il soit visible */
  text-align: center; /* centre le contenu, si nécessaire */
}

/*formulaire de contact*/
/* Style global pour le formulaire de contact */
#wpcf7-f45-o1 {
  max-width: 350px;
  margin: 20px auto 0px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Titre du formulaire */
#wpcf7-f45-o1 label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

/* Style des champs de texte */
#wpcf7-f45-o1 input[type=text],
#wpcf7-f45-o1 input[type=email],
#wpcf7-f45-o1 textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Style des champs de texte au focus */
#wpcf7-f45-o1 input[type=text]:focus,
#wpcf7-f45-o1 input[type=email]:focus,
#wpcf7-f45-o1 textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Bouton de soumission */
#wpcf7-f45-o1 .wpcf7-submit {
  background-color: #D8D8D8;
  color: white;
  padding: 10px 20px;
  height: 50px;
  width: 350px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Bouton de soumission au survol */
#wpcf7-f45-o1 .wpcf7-submit:hover {
  background-color: #444444;
}

/* Message d'erreur (si nécessaire) */
.wpcf7-response-output {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
}

/* Définition du contenu de la page */
.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 250px;
}

.photo-contenair {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* Zone supérieur */
.photo-content-wrapper {
  padding: 20px;
  width: 100%;
}

/* division de la zone */
.photo-main {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: normal;
  gap: 30px;
}

/* Bloc gauche : Informations */
.photo-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #333;
  width: 50%;
}

.photo-info h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.photo-info ul {
  list-style: none;
}

.photo-info li {
  margin-bottom: 10px;
  color: #333;
}

/* Bloc droit : Affichage de la photo */
.photo-display {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}

.photo-display img.photo-full {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Bloc milieu : Interactions */
/* Wrapper pour photo-interactions */
.photo-interactions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.photo-interactions {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #000000;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/* Bouton Contact */
.contact-link.btn {
  display: inline-block;
  padding: 15px 100px;
  color: #000000;
  background-color: #D8D8D8;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-link.btn:hover {
  background-color: #444;
}

/* Conteneur navigation */
.photo-navigation {
  display: flex;
  flex-direction: column; /* Dispose les éléments en colonne */
  align-items: end; /* Centre les éléments horizontalement */
  width: 50%;
}

.thumbnail-container {
  position: relative;
  opacity: 1; /* Miniature invisible par défaut */
  transition: opacity 0.3s ease-in-out;
}

/* Miniature */
.next-thumbnail {
  max-width: 100px; /* Réduit la largeur à la moitié (par rapport à 150px) */
  max-height: 100px; /* Ajuste la hauteur proportionnellement */
  transition: transform 0.3s; /* Animation douce au survol */
}

/* Flèches sous la miniature */
.arrows-navigation {
  display: flex;
  gap: 40px; /* Espacement entre les flèches */
}

.nav-link {
  font-size: 24px; /* Taille des flèches */
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #555;
}

.arrows-navigation a:hover + .thumbnail-container {
  opacity: 1; /* Miniature visible au survol */
}

/* Englobe la section pour la centrer */
.related-photos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 100px;
}

/* Section des photos liées */
.related-photos {
  margin-top: 50px;
}

.propose {
  margin-bottom: 50px;
}

/* Grille pour les deux photos */
.related-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 500px;
  width: 100%;
  gap: 30px;
}

/* Chaque élément prend 50% de la largeur */
.related-item {
  position: relative;
  width: 50%;
}

.related-item img.photo-full {
  width: 100%; /* Ou ajustez la largeur selon vos besoins */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.related-item:hover .related-overlay {
  opacity: 1;
}

.icon {
  font-size: 2rem; /* Taille des icônes */
  color: white; /* Couleur des icônes */
  text-decoration: none;
}

/* Icône 'eye' centrée */
.related-overlay .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrer l'élément */
}

/* Icône 'fullscreen' en haut à droite */
.related-overlay .fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Texte en bas (Référence à gauche, Catégorie à droite) */
.related-overlay .text-bottom {
  position: absolute;
  bottom: 10px;
  padding: 0 10px; /* Espacement sur les bords */
  color: white;
}

.text-bottom {
  width: 100%;
}

.text-bottom-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
}
.filters .filter-group,
.filters .filter-sort {
  display: flex;
  gap: 10px;
}
.filters .filter-group select,
.filters .filter-sort select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px; /* Espace entre les éléments */
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
}
.photo-grid .photo-item {
  position: relative; /* Nécessaire pour positionner l'overlay par rapport à l'image */
  overflow: hidden; /* Empêche le débordement des éléments */
}
.photo-grid .photo-item a {
  display: block; /* Lien comme un bloc pour que l'image occupe toute la zone */
}
.photo-grid .photo-item .photo-full {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.3s ease; /* Effet de zoom lors du survol */
}
.photo-grid .photo-item:hover .photo-full {
  transform: scale(1.05); /* Zoom léger au survol */
}
.photo-grid .photo-item .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent pour l'overlay */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* Icône 'eye' au centre */
  /* Icône 'fullscreen' en haut à droite */
}
.photo-grid .photo-item .photo-overlay .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrer l'élément */
}
.photo-grid .photo-item .photo-overlay .fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
}
.photo-grid .photo-item .photo-overlay .text-filtre {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.photo-grid .photo-item .photo-overlay .text-filtre .text-filtre-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photo-grid .photo-item:hover .photo-overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s;
}

.load-more-container {
  text-align: center;
  margin: 20px 0;
}
.load-more-container #load-more-photos-btn {
  padding: 20px 100px;
  background-color: #D8D8D8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.load-more-container #load-more-photos-btn:hover {
  background-color: #383838;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr; /* Sur les petits écrans, une seule colonne */
  }
}/*# sourceMappingURL=main.css.map */