@charset "UTF-8";
/* Polices Space Mono */
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* Poppins Black */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Poppins Black Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Poppins Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* Poppins Extrabold */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Poppins Extrabold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
/* Poppins Medium */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Poppins Medium Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* Poppins Light */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Poppins Light Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
/* Poppins Extralight */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
/* Poppins Extralight Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
/* Poppins Thin */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* Poppins Thin Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/* Poppins Semibold */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Poppins Semibold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Poppins Regular Italic */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* Variables de couleurs */
* {
  margin: 0;
  padding: 0;
}

html {
  margin-top: 0 !important;
}

body {
  font-family: "Space Mono", sans-serif;
}

/* Bureau */
h1 {
  font-size: 96px;
  font-weight: 600; /* Extra-bold */
}

h2 {
  font-size: 58px;
  font-weight: 500; /* Semi-bold */
  font-style: italic;
  line-height: 58px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.description-photo {
  font-size: 14px;
}

p {
  font-size: 14px;
}

/* Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 27.6px;
    font-weight: bold;
  }
  h2 {
    font-size: 46px;
    font-weight: 600;
  }
  h3 {
    font-size: 18px;
  }
  .description-photo {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}
.header-image {
  width: 100%;
  height: 962px;
  overflow: hidden;
  position: relative;
}
.header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1148px;
  margin: 0 auto;
  height: 72px;
}
.container .logo {
  margin-left: 0;
}
.container nav.menu-header-container {
  display: flex;
  justify-content: center;
}
.container nav.menu-header-container ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
.container nav.menu-header-container ul li {
  margin-left: 40px;
}
.container nav.menu-header-container ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  transition: color 0.6s ease;
}
.container nav.menu-header-container ul li a[aria-current=page] {
  font-weight: bold;
}
.container nav.menu-header-container ul li a:hover {
  font-weight: 600;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 40px;
  z-index: 100;
}
.burger-menu .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.burger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translateY(16px);
}
.burger-menu.active .line:nth-child(2) {
  opacity: 0;
}
.burger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translateY(-16px);
}

/* Bloquer le défilement de la page lorsque le menu est actif */
body.menu-open {
  overflow: hidden;
}

@media (max-width: 375px) {
  .container .logo {
    margin-left: 40px;
  }
  .burger-menu {
    display: flex;
  }
  .menu-header-container {
    position: fixed; /* Pour activer le z-index */
    z-index: 100;
    top: 72px; /* S'assure que le menu est toujours en haut de la page */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre, légèrement transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Cacher le menu par défaut */
    opacity: 0; /* Menu invisible par défaut */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Transition sur l'opacité */
    /* Bloque le scroll de la page quand le menu est ouvert */
  }
  .menu-header-container.active {
    visibility: visible; /* Rendre le menu visible */
    opacity: 1; /* Menu visible */
    transition: opacity 0.3s ease; /* Transition de l'opacité */
    overflow: hidden; /* Empêche le scroll */
  }
  .menu-header-container .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments dans le menu */
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 0, 0); /* Fond rouge */
    width: 100%;
    height: 100%; /* Remplir tout l'écran */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .menu-header-container .main-menu li {
    margin-bottom: 15px !important;
    margin-left: 0 !important;
  }
  .menu-header-container .main-menu a {
    color: #fff !important; /* Texte en blanc */
    font-size: 44px; /* Taille des liens */
    text-align: center; /* Texte centré */
    text-decoration: none; /* Enlève les soulignements */
  }
  .menu-header-container .main-menu a:hover {
    color: #ddd; /* Changer la couleur au survol */
  }
  .nav.menu-header-container {
    display: none;
  }
}
/* Styles pour le footer */
.main-footer {
  width: 100%;
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid black;
}
.main-footer .footer-container {
  max-width: 1148px;
  margin: 0 auto;
}
.main-footer .footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.main-footer .footer-menu a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.main-footer .footer-menu a:hover {
  font-weight: 900;
}

@media (max-width: 375px) {
  .main-footer .footer-menu {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 30px;
  }
  .main-footer .footer-menu li {
    margin-left: 0px;
  }
}
.about-page {
  background-color: #f9f9f9;
  max-width: 1148px;
  margin: 0 auto; /* Centre horizontalement */
  display: flex; /* Active le flexbox */
  flex-direction: column; /* Aligne les éléments verticalement */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  padding-bottom: 50px;
}

.about-page h1 {
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
}

.about-page .about-content {
  margin: 0 auto;
  line-height: 1.8;
  text-align: left; /* Aligne le texte à gauche */
}

.about-page h2 {
  text-align: left; /* Aligne les sous-titres à gauche */
  text-transform: uppercase;
  padding: 30px 0;
}

.about-page p {
  margin: 0 auto; /* Centre les paragraphes */
  padding: 10px 0px;
}

@media (max-width: 375px) {
  .about-page {
    padding: 20px; /* Réduit les marges internes sur mobile */
  }
  .about-page h1 {
    padding: 20px;
  }
  .about-page h2 {
    padding: 20px;
  }
  .about-page p {
    font-size: 1rem; /* Réduit la taille du texte */
    padding: 5px; /* Réduit l'espacement des paragraphes */
  }
  .about-page .about-content {
    text-align: left; /* Centre le texte sur mobile pour une meilleure lisibilité */
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.modal-overlay.open {
  display: flex;
  opacity: 1;
}
.modal-overlay .modal-content {
  background: white;
  max-width: 600px;
  width: 100%;
  position: relative;
}
.modal-overlay .modal-content .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.modal-overlay .modal-content .modal-title {
  background-image: url("/wp-content/themes/nathaliemota/assets/images/contact-header.png");
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;
  color: transparent;
  text-align: center;
}

#wpcf7-f45-o1 {
  max-width: 360px;
  margin: 20px auto 0;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
#wpcf7-f45-o1 label {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #313144;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}
#wpcf7-f45-o1 input[type=text],
#wpcf7-f45-o1 input[type=email],
#wpcf7-f45-o1 textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 5px;
}
#wpcf7-f45-o1 input[type=text]:focus,
#wpcf7-f45-o1 input[type=email]:focus,
#wpcf7-f45-o1 textarea:focus {
  border-color: #007bff;
  outline: none;
}
#wpcf7-f45-o1 .wpcf7-submit {
  background-color: #D8D8D8;
  color: #000000;
  padding: 10px 20px;
  height: 50px;
  width: 360px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition ajoutée */
}
#wpcf7-f45-o1 .wpcf7-submit:hover {
  background-color: #000000;
  color: white;
}
#wpcf7-f45-o1 .wpcf7-response-output {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 300px !important;
  }
  #wpcf7-f45-o1 {
    max-width: 290px !important;
  }
  .wpcf7-submit {
    width: 260px !important;
  }
  input[type=text],
  input[type=email],
  textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
  }
  .modal-content .modal-title {
    background-image: url("/wp-content/themes/nathaliemota/assets/images/contact-header.png");
    background-size: cover;
    background-position: center;
    height: 60px !important;
    width: 100%;
    color: transparent;
    text-align: center;
  }
}
/* Définition du contenu de la page */
.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1148px;
  margin: 0 auto;
}

.photo-contenair {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* Zone supérieur */
.photo-content-wrapper {
  width: 100%;
}

/* division de la zone */
.photo-main {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: normal;
  gap: 30px;
}

/* Bloc gauche : Informations */
.photo-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #000000;
  width: 50%;
  text-transform: uppercase;
}

.photo-info h2 {
  margin-bottom: 15px;
  font-weight: 500;
}

.photo-info ul {
  list-style: none;
}

.photo-info li {
  margin-bottom: 10px;
  color: #333;
}

/* Bloc droit : Affichage de la photo */
.photo-display {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}

.photo-display img.photo-full {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Bloc milieu : Interactions */
/* Wrapper pour photo-interactions */
.photo-interactions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-interactions {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #000000;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/* Bouton Contact */
.contact-link.btn {
  display: inline-block;
  width: 260px;
  padding: 15px 15px;
  font-size: 12px;
  color: #000000;
  background-color: #D8D8D8;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition ajoutée */
  text-align: center;
}

.contact-link.btn:hover {
  background-color: #000000;
  color: white;
}

/* Conteneur navigation */
.photo-navigation {
  display: flex;
  flex-direction: column; /* Dispose les éléments en colonne */
  align-items: end; /* Centre les éléments horizontalement */
  width: 50%;
  margin-top: 10px;
}

.thumbnail-container {
  position: relative;
  opacity: 0; /* Miniature invisible par défaut */
  transition: opacity 0.3s ease-in-out;
}

/* Miniature */
.next-thumbnail {
  max-width: 100px; /* Réduit la largeur à la moitié (par rapport à 150px) */
  max-height: 100px; /* Ajuste la hauteur proportionnellement */
  transition: transform 0.3s; /* Animation douce au survol */
}

/* Flèches sous la miniature */
.arrows-navigation {
  display: flex;
  gap: 40px; /* Espacement entre les flèches */
}

.nav-link {
  font-size: 24px; /* Taille des flèches */
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #555;
}

/* Englobe la section pour la centrer */
.related-photos-wrapper {
  padding: 0 0px;
  margin-bottom: 80px;
  margin-top: 0px;
}

/* Section des photos liées */
.propose {
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-top: 50px;
}

/* Grille pour les deux photos */
.related-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 495px;
  width: 100%;
  gap: 30px;
}

/* Chaque élément prend 50% de la largeur */
.related-item {
  position: relative;
  width: 50%;
}

.related-item img.photo-full {
  width: 100%; /* Ou ajustez la largeur selon vos besoins */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.related-item:hover .related-overlay {
  opacity: 1;
}

/* Icône 'eye' centrée */
.related-overlay .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrer l'élément */
}

/* Icône 'fullscreen' en haut à droite */
.related-overlay .fullscreen {
  position: absolute;
  top: 10px;
  right: -20px;
}

.related-overlay .fullscreen img {
  width: 50%;
}

/* Texte en bas (Référence à gauche, Catégorie à droite) */
.related-overlay .text-bottom {
  position: absolute;
  bottom: 10px;
  padding: 0 10px; /* Espacement sur les bords */
  color: white;
}

.text-bottom {
  width: 100%;
}

.text-bottom-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

@media (max-width: 375px) {
  /* Conteneur global */
  .photo {
    margin: 0 0px; /* Réduire les marges sur mobile */
  }
  .photo-contenair {
    margin-top: 0;
    padding: 0 50px;
  }
  .photo-content-wrapper {
    padding: 0;
    margin-bottom: 20px;
  }
  /* Zone principale */
  .photo-main {
    flex-direction: column-reverse; /* Empiler les éléments */
    align-items: center; /* Centrer le contenu */
    gap: 20px; /* Espacement entre les sections */
  }
  /* Informations de gauche */
  .photo-info {
    padding: 0px; /* Réduire les marges internes */
    text-align: left; /* Centrer le texte */
    border: none;
    width: 100%;
  }
  /* Photo affichée à droite */
  .photo-display {
    justify-content: center; /* Centrer l'image */
    margin-top: 20px; /* Ajouter un espacement avec la section précédente */
    width: 100%;
  }
  .photo-display img.photo-full {
    max-height: 397px;
  }
  /* Section interactions */
  .photo-interactions-wrapper {
    padding: 0 0px; /* Réduire les marges internes */
  }
  .photo-interactions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo-interactions .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    border-top: 1px solid #000000;
  }
  .photo-interactions .contact .contact-text {
    margin-right: 40px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .photo-interactions .contact .contact-text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .photo-interactions .contact .contact-text .contact-btn {
    width: 100%;
  }
  .photo-interactions .photo-navigation {
    display: none;
  }
  .propose {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  /* Photos liées */
  .related-photos-wrapper {
    margin: 20px 29px;
    box-sizing: border-box;
  }
  .related-photos-wrapper .related-grid {
    flex-direction: column;
    gap: 20px;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .related-photos-wrapper .related-grid .related-item {
    width: 100%;
    height: 278.8px;
  }
  .related-photos-wrapper .related-grid .related-item img.photo-full {
    max-height: 278.8px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1148px;
  margin: 40px auto;
  margin-top: 80px;
}
.filters .filter-group,
.filters .filter-sort {
  display: flex;
  gap: 10px;
}
.filters .filter-group select,
.filters .filter-sort select {
  width: 240px;
  height: 40px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.filters .filter-group select:focus,
.filters .filter-sort select:focus {
  border-color: #215aff;
}
.filters .filter-group select.active,
.filters .filter-sort select.active {
  border-color: #215aff;
}
.filters .filter-group select option,
.filters .filter-sort select option {
  background-color: white;
  border: none;
  padding: 10px;
}
.filters .filter-group select option:hover,
.filters .filter-sort select option:hover {
  background-color: #FFD6D6 !important;
}
.filters .filter-group select option:active,
.filters .filter-sort select option:active {
  background-color: #FE5858 !important;
}
.filters .filter-group select option:checked,
.filters .filter-sort select option:checked {
  background-color: #E00000 !important;
  color: white;
}

.select2-container {
  font-family: "Poppins", sans-serif;
}
.select2-container--default .select2-selection--single {
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}
.select2-container--default .select2-selection--single:focus {
  border-color: #215aff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 6px;
  right: 20px;
  width: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow::before {
  font-size: 16px;
  color: #000000;
  display: inline-block;
  margin-left: -4px;
  margin-top: -2px;
}
.select2-container--open .select2-selection__arrow::before {
  font-size: 16px;
  color: #000000;
  display: inline-block;
}
.select2-container .select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
.select2-container .select2-results__options .select2-results__option {
  background-color: transparent !important;
  color: #000000 !important;
}
.select2-container .select2-results__options .select2-results__option:hover {
  background-color: #ffd6d6 !important;
}
.select2-container .select2-results__options .select2-results__option:active {
  background-color: #fe5858 !important;
}
.select2-container .select2-results__options .select2-results__option[aria-selected=true]:not(:hover) {
  background-color: #e00000 !important;
  color: #ffffff !important;
}
.select2-container .select2-results__option--selected[aria-selected=false] {
  background-color: #e00000 !important;
  color: #ffffff !important;
}
.select2-container .select2-results__option--selected[aria-selected=false]:focus-visible {
  background-color: #e00000 !important;
  color: #ffffff !important;
}
.select2-container .select2-search input {
  display: none;
}

/*.select2-container .select2-results__options .select2-results__option--highlighted[aria-selected=true]:not(:hover) {
  background-color: #e00000 !important;
  color: #ffffff !important;

}*/
.select2-container .select2-results__options .select2-results__option--highlighted[aria-selected=true]:not(:hover) {
  background-color: transparent !important;
  color: #000000 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000000;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
  font-size: 16px; /* Taille de la flèche */
  font-weight: 100;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
  font-size: 16px; /* Taille de la flèche */
  font-weight: 100;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #000000;
}

/* Masquer le bouton de suppression dans Select2 */
.select2-selection__clear {
  display: none !important;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1148px;
  margin: 20px auto;
}
.photo-grid .photo-item {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  max-height: 495px;
}
.photo-grid .photo-item a {
  display: block;
}
.photo-grid .photo-item .photo-full {
  width: 100%;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}
.photo-grid .photo-item .photo-full:hover {
  transform: scale(1.05);
}
.photo-grid .photo-item .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.photo-grid .photo-item .photo-overlay .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-grid .photo-item .photo-overlay .fullscreen {
  position: absolute;
  top: 10px;
  right: -10px;
}
.photo-grid .photo-item .photo-overlay .fullscreen img {
  width: 50%;
}
.photo-grid .photo-item .photo-overlay .text-filtre {
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: white;
}
.photo-grid .photo-item .photo-overlay .text-filtre .text-filtre-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photo-grid .photo-item .photo-overlay:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.load-more-container {
  text-align: center;
  margin: 20px 0;
}
.load-more-container #load-more {
  padding: 20px 100px;
  background-color: #d8d8d8;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition ajoutée */
}
.load-more-container #load-more:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 380px) {
  .filters {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .filters .filter-group,
  .filters .filter-sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .filters .filter-group select,
  .filters .filter-sort select {
    width: 270px;
  }
  .photo-grid {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }
  .photo-grid .photo-item {
    max-width: 100vw;
    max-height: 278.8px;
  }
  .photo-grid .photo-item .photo-full {
    max-height: 278.8px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* Style général pour l'overlay */
.lightbox-overlay {
  display: none; /* Cacher par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* En-tête (nom de la photo et bouton de fermeture) */
.lightbox-header {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Nom de la photo */
.lightbox-title {
  color: white;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
}

/* Bouton de fermeture */
.lightbox-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

/* Contenu principal de la Lightbox (photo et navigation) */
.lightbox-main {
  position: relative;
  margin-top: 55px;
  text-align: center;
}

/* Conteneur de la photo avec taille fixe */
.lightbox-photo-containt {
  display: flex;
  justify-content: center;
}

.lightbox-flex {
  position: relative;
}

.lightbox-flex-photo {
  height: 80vh;
}

/* Photo */
.lightbox-photo {
  max-height: 100%;
}

/* Navigation (précédente et suivante) */
.lightbox-nav {
  position: fixed;
  top: 50%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.lightbox-prev,
.lightbox-next {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.nav-arrow {
  font-size: 36px; /* Taille de la flèche */
}

.nav-text {
  font-size: 16px; /* Taille du texte */
  padding: 10px;
}

/* Pied de page avec référence et catégorie */
.lightbox-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Styles supplémentaires pour rendre l'interaction plus fluide */
.lightbox-prev:hover,
.lightbox-next:hover,
.lightbox-close:hover {
  color: #ffffff; /* Changer la couleur au survol */
  font-size: 18px; /* Taille du texte */
  font-weight: bolder;
}

/* Media queries */
@media (max-width: 375px) {
  .lightbox-container {
    margin-top: 0;
  }
  .lightbox-title {
    font-size: 24px;
  }
  .lightbox-close {
    font-size: 24px;
    right: 0px;
  }
  .lightbox-main {
    margin-top: 30px;
  }
  .lightbox-nav {
    width: 90%;
    transform: none;
    top: 50%;
  }
  .lightbox-prev,
  .lightbox-next {
    font-size: 20px;
    margin: 0;
  }
  .lightbox-footer {
    justify-content: center;
    gap: 160px;
  }
  .nav-arrow {
    font-size: 24px;
  }
  .nav-text {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */